@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$orange: #E5A00D;

$family-sans-serif: "Nunito", sans-serif;
$primary: $orange;

@import "../../node_modules/bulma/bulma.sass";

// Add background image to Hero
.hero {
    background-image: url(../img/backgrounds/b03.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

