@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$orange: #E5A00D;

$family-sans-serif: "Nunito", sans-serif;
$primary: $orange;

@import "../../node_modules/bulma/bulma.sass";

