.jumbotron{
  top: 0px;
  background: url('../img/backgrounds/b01.png') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-height: 720px;
}

.subtitle{
  text-shadow: 1px 1px 2px #555;
  font-weight: 400;
}

.button-row .btn-large{
  text-transform: capitalize;
}

body{
  font-family: 'PT Sans', serif;
}


a:hover img {
  border: none !important;
  display: block;
}

.icon-block h2{
  font-size: 48px;
}
