<!DOCTYPE html>
<html>

<head>
  <title>{{server-name}}</title>

  <!-- Generate Favicons using https://realfavicongenerator.net/ -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/access.css">
</head>

<body>
  <section class="hero is-medium">
    <div class="hero-head">
      <a class="button is-medium is-outlined is-primary" href="/">
        <i class="fas fa-angle-double-left"></i>&nbsp;Home
      </a>
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-white">
          Access Instructions
        </h1>
      </div>
    </div>
  </section>

  <div class="columns" style="margin-top: 40px;">
    <div class="column is-half is-offset-one-quarter">
      {{#instructions}}
      <h4 class="title">{{step-title}}</h4>
      <p>{{&step-body}}</p>
      <br>
      {{/instructions}}
    </div>
  </div>
</body>

</html>